<div id="<%= dom_id match %>" class="match_content_container">
  <%= form_with(model: match) do |form| %>
    <% if match.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

        <ul>
          <% match.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p class="match_title">
      <%= form.text_field :title, :value => "TITLE", :class => 'match_title_input' %>
    </p>
    <div class="separator">
      &nbsp;
    </div>

    <p class="match_total">
      <strong>Total match amount so far:</strong>
      <%= form.text_field :total_amount, :class => 'match_total_amount_input', :value => '10000' %>
    </p>

    <div class="separator">
      &nbsp;
    </div>

    <p class="match_description">
      <%= form.text_area :description, :value => 'This is the default description', :class => 'match_description_input' %>
    </p>

    <div class="separator">
      &nbsp;
    </div>


    <p class="match_base_amount">
      <%= form.label :base_match_amount, style: "display: block" %>
      <%= form.text_field :base_amount %>
    </p>

    <div>
      Created by: <%= current_user.email %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
