<div class="content_container">
  <%= form_with(model: match) do |form| %>
    <% if match.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

        <ul>
          <% match.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :total_amount, style: "display: block" %>
      <%= form.text_field :total_amount %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :base_amount, style: "display: block" %>
      <%= form.text_field :base_amount %>
    </div>

    <div>
      <%= form.label :creator_id, style: "display: block" %>
      <%= form.number_field :creator_id %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
