<div id="<%= dom_id match %>" class="match_content_container">
  <p class="match_title">
    <%= match.title %>
  </p>
  <div class="separator">
    &nbsp;
  </div>

  <p class="match_total">
    <strong>Total match amount so far:</strong>
    <span class="match_total_amount"><%= number_to_currency(match.total_amount) %></span>
  </p>

  <div class="separator">
    &nbsp;
  </div>

  <p class="match_description">
    <%= match.description %>
  </p>

  <p class="match_base_amount">
    <strong>Match amount:</strong>
    <%= number_to_currency(match.base_amount) %>
  </p>

  <p>
    <strong>Created by:</strong>
      <%= link_to match.creator.email, user_tally_match_path(match) %>
  </p>
  <div class="separator">
    &nbsp;
  </div>
  <p class="contributors_copy_container">
    <span class="contributors_copy">this has been matched by:</span>
  </p>
  <div class="contributor_emails_container">
  <% i = 0 %>
    <% for user in match.users %>
      <% if (i % 4) == 0 %>
        <div class="contributor_emails">
          <ul>
      <% end %>
          <li>
            <%= user.email %>
          </li>
        <% if (i % 4) == 0 %>
          </ul>
        </div>
        <% end %>
    <% end %>
  </div>
  <div class="matchthat_btn_container">
    <%= button_to 'Match That', matchthat_match_path(match) %>
  </div>

</div>
