<div id="<%= dom_id match %>">
  <p>
    <strong>Title:</strong>
    <%= match.title %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= match.total_amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= match.description %>
  </p>

  <p>
    <strong>Base amount:</strong>
    <%= match.base_amount %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= match.creator_id %>
  </p>

</div>
