<div id="<%= dom_id match %>">
  <p class="match_title">
    <%= match.title %>
  </p>
  <div class="seperator">
    &nbsp;
  </div>

  <p class="match_total">
    <strong>Total match amount so far:</strong>
    <span class="match_total_amount"><%= number_to_currency(match.total_amount) %></span>
  </p>

  <div class="seperator">
    &nbsp;
  </div>

  <p class="match_description">
    <%= match.description %>
  </p>

  <p class="match_base_amount">
    <strong>Match amount:</strong>
    <%= number_to_currency(match.base_amount) %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= match.creator.email %>
  </p>
  <div class="seperator">
    &nbsp;
  </div>
  <p>
    <span class="contributors_copy">this has been matched by:</span>
  </p>
  <div class="contributor_emails_container">
    <div class="contributor_emails">
      <ul>
        <li>
          one@one.com 
        </li>
        <li>
          twoe@one.com 
        </li>
        <li>
          three@one.com 
        </li>
        <li>
          foure@one.com 
        </li>
      </ul>
    </div>
    <div class="contributor_emails">
      <ul>
        <li>
          five@one.com 
        </li>
        <li>
           six@one.com 
        </li>
        <li>
          sevene@one.com 
        </li>
        <li>
          eight@one.com 
        </li>
      </ul>
    </div>
  </div>

</div>
