<!DOCTYPE html>
<html>
  <head>
    <title>Matchthat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="body_container">
      <div id="menu">
        <div class="menu_option">
          <%= link_to "Popular Matches", matches_path %>
        </div>
        <div class="menu_option">
          <%= link_to "Log In", new_user_session_path %>
        </div>
        <div class="menu_option">
          <%= link_to "Search", root_path %>
        </div>
        <div class="menu_option">
          <%= link_to "Popular Matches", matches_path %>
        </div>
        <div class="menu_option">
          <%= link_to "Browse", matches_path %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
