<!DOCTYPE html>
<html>
  <head>
    <title>Matchthat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="menu_container">
      <div id="menu">
        <div class="menu_option">
          <%= link_to "Popular Matches", matches_path %>
        </div>
        <div class="menu_option">
          <% if user_signed_in? %>
            <%= link_to "Log Out", destroy_user_session_path, data: { "turbo-method": :delete } %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
          <% end %>
        </div>
        <div id="menu_search_container" class="menu_option">
          <%= link_to "Search", root_path %>
        </div>
        <div id="menu_browse_container" class="menu_option">
          <%= link_to "Browse Matches", matches_path %>
        </div>
        <div class="menu_option">
          <%= link_to "Browse", matches_path %>
        </div>
      </div>
    </div><!-- end menu_container -->
    <div id="logo_container">
      <div id="logo">
        &nbsp;
      </div>
    </div>
    <div id="content_columns">
      <div id="column_left">
      </div>
      <div id="column_center">
        <div id="body_container">
          <div id="body_content_container">
            <div id="body_content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div id="column_right">
      </div>
    </div>
  </body>
</html>
